node-red/template/flows.json
[
    {
        "id": "fab127e9.0106e8",
        "type": "tab",
        "label": "taxi"
    },
    {
        "id": "4d828753.813a18",
        "type": "mqtt-broker",
        "z": "fab127e9.0106e8",
        "broker": "__IOTP_ORG_ID__.messaging.internetofthings.ibmcloud.com",
        "port": "1883",
        "clientid": "d:__IOTP_ORG_ID__:__DEVICE_TYPE__:__DEVICE_ID__",
        "usetls": false,
        "verifyservercert": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": ""
    },
    {
        "id": "ea141d55.145aa",
        "type": "mqtt out",
        "z": "fab127e9.0106e8",
        "name": "Publish to IoT",
        "topic": "iot-2/evt/__EVENT_TYPE__/fmt/__MSG_FORMAT__",
        "qos": "0",
        "retain": "false",
        "broker": "4d828753.813a18",
        "x": 486.2000274658203,
        "y": 215,
        "wires": []
    },
    {
        "id": "8a3a8de9.f2618",
        "type": "inject",
        "z": "fab127e9.0106e8",
        "name": "Send data",
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "x": 123.20001220703125,
        "y": 231,
        "wires": [
            [
                "b02fd942.601f38"
            ]
        ]
    },
    {
        "id": "92eec5a.8bb2238",
        "type": "debug",
        "z": "fab127e9.0106e8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 415.2000274658203,
        "y": 354.00001525878906,
        "wires": []
    },
    {
        "id": "fd7bd9cf.298d58",
        "type": "join",
        "z": "fab127e9.0106e8",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "timeout": "__INTERVAL__",
        "count": "__INTERVAL__",
        "x": 263.5000457763672,
        "y": 179.39999389648438,
        "wires": [
            [
                "6815ab4d.3388d4"
            ]
        ]
    },
    {
        "id": "b02fd942.601f38",
        "type": "file function",
        "z": "fab127e9.0106e8",
        "name": "Sensor reading",
        "filename": "/data/functions/sensor_readings.js",
        "reloadfile": true,
        "outputs": 1,
        "x": 140.50001525878906,
        "y": 103.19999694824219,
        "wires": [
            [
                "fd7bd9cf.298d58"
            ]
        ]
    },
    {
        "id": "6815ab4d.3388d4",
        "type": "file function",
        "z": "fab127e9.0106e8",
        "name": "Device payload",
        "filename": "/data/functions/device_payload.js",
        "reloadfile": true,
        "outputs": 1,
        "x": 377.49998474121094,
        "y": 102.19999694824219,
        "wires": [
            [
                "17492981.e4e156",
                "82bc3348.4e14a"
            ]
        ]
    },
    {
        "id": "17492981.e4e156",
        "type": "debug",
        "z": "fab127e9.0106e8",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 487.49998474121094,
        "y": 24.4000244140625,
        "wires": []
    },
    {
        "id": "82bc3348.4e14a",
        "type": "file function",
        "z": "fab127e9.0106e8",
        "name": "compress",
        "filename": "/data/functions/compress.js",
        "reloadfile": true,
        "outputs": 1,
        "x": 283.5000305175781,
        "y": 286.2000274658203,
        "wires": [
            [
                "ea141d55.145aa",
                "92eec5a.8bb2238"
            ]
        ]
    }
]
