node-red/template/flows.json.orig
[
    {
        "id": "fab127e9.0106e8",
        "type": "tab",
        "label": "taxi"
    },
    {
        "id": "4d828753.813a18",
        "type": "mqtt-broker",
        "z": "fab127e9.0106e8",
        "broker": "__IOTP_ORG_ID__.messaging.internetofthings.ibmcloud.com",
        "port": "1883",
        "clientid": "d:__IOTP_ORG_ID__:__DEVICE_TYPE__:__DEVICE_ID__",
        "usetls": false,
        "verifyservercert": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": ""
    },
    {
        "id": "ea141d55.145aa",
        "type": "mqtt out",
        "z": "fab127e9.0106e8",
        "name": "Publish to IoT",
        "topic": "iot-2/evt/__EVENT_TYPE__/fmt/__MSG_FORMAT__",
        "qos": "0",
        "retain": "false",
        "broker": "4d828753.813a18",
        "x": 501.20001220703125,
        "y": 239,
        "wires": []
    },
    {
        "id": "8a3a8de9.f2618",
        "type": "inject",
        "z": "fab127e9.0106e8",
        "name": "Send data",
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "repeat": "10",
        "crontab": "",
        "once": false,
        "x": 123.20001220703125,
        "y": 231,
        "wires": [
            [
                "bca6de49.a9004"
            ]
        ]
    },
    {
        "id": "bca6de49.a9004",
        "type": "function",
        "z": "fab127e9.0106e8",
        "name": "Device payload",
        "func": "var id1 = \"Taxi __DEVICE_ID__\";\nvar type1 = \"Taxi\";\nvar longitude1 = [-98.49,-97.74,-96.79,-94.20,-90.19,-94.57,-87.62,-87.90,-93.26,-95.99];\nvar latitude1 = [29.42,30.26,32.77,36.37,38.62,39.09,41.87,43.03,44.97,41.25];\nvar velocity1 = context.get('velocity1')||0;\n\n\n\nvelocity1 = velocity1+1;\nif(velocity1 > __VALUE__) velocity1=0;\ncontext.set('velocity1',velocity1);\n\nvar counter1 = context.get('counter1')||0;\ncounter1 = counter1+1;\nif(counter1 > 9) counter1 = 0;\ncontext.set('counter1',counter1);\n\nmsg = {\n \tpayload: JSON.stringify(\n \t { d:{\n \"id\" : id1,\n \"location\" : \n {\n \"longitude\" : longitude1[counter1],\n \t \"latitude\" : latitude1[counter1]\n },\n \"velocity\" : velocity1,\n \t \"type\" : type1\n \t }\n \t }\n )\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 291.20001220703125,
        "y": 74,
        "wires": [
            [
                "92eec5a.8bb2238",
                "ea141d55.145aa"
            ]
        ]
    },
    {
        "id": "92eec5a.8bb2238",
        "type": "debug",
        "z": "fab127e9.0106e8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 271.20001220703125,
        "y": 350,
        "wires": []
    },
    {
        "id": "e60147a7.1c9718",
        "type": "comment",
        "z": "fab127e9.0106e8",
        "name": "Function Node",
        "info": "The Function node allows you to pass each message though a JavaScript function.\n\nThe Javascript function creates the message payload that is sent to your Watson IoT Platform organization.",
        "x": 292.20001220703125,
        "y": 43,
        "wires": []
    },
    {
        "id": "7648b064.0f8c5",
        "type": "comment",
        "z": "fab127e9.0106e8",
        "name": "Debug Node",
        "info": "The Debug node causes any message to be displayed in the Debug sidebar. By default, it just displays the payload of the message, but it is possible to display the entire message object.",
        "x": 271.20001220703125,
        "y": 380,
        "wires": []
    },
    {
        "id": "c87c3679.18a018",
        "type": "comment",
        "z": "fab127e9.0106e8",
        "name": "Inject Node",
        "info": "The Inject node allows you to inject messages into a flow, either by clicking the button on the node, or setting a time interval between injects.",
        "x": 96.20001220703125,
        "y": 202,
        "wires": []
    }
]
